* {

	margin: 0;
	padding: 0;
	color: #333333;
}

h1,h5, .btn {
	font-family: 'Volkhov', sans-serif;
}

.btn {
	background-color: #F2DDD5;
	text-align: center;
}

h2,label,th,td,input, textarea, p {
	font-family: 'Abel', serif;
}


#header {
	background-color: #F2DDD5;
}

.navbar-nav a {
	color: #333333;
	font-family: 'Abel', serif;
	margin: 1px;
	margin-top: 1px;
}


.jumbotron {
	background-image: url(../Images/bg1.png);
	background-size: cover;
	background-position: center;
	background-color: #F2DDD5;
	padding: 50px;
	padding-top: 160px;
	padding-bottom: 160px;
	margin-bottom: 0em;
}

#about {
	background-color: #BF9995;
	margin: 0em;
	margin-top: 0em;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

.inner {
	overflow: hidden;
}

.inner img {
	transition: all 1.5s ease;
}

.inner:hover img{
	transform: scale(1.5);
}

#contact {
	background-color: #B0B0BF;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

#contact h1 {
	display: flex;
}

.footer {
	background-color: #9797A6;
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
}

